/* General body setup */
body {
    font-family: 'Courier New', Courier, monospace; /* Monospaced font similar to terminals */
    background-color: #000; /* Dark background typical of terminal interfaces */
    color: #0F0; /* Bright green text, typical for positive feedback in terminals */
    margin: 0;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Headings setup */
h1, h2, h3 {
    color: #FFF; /* White or another bright color for contrast against the dark background */
}

/* Paragraphs and text areas setup */
p {
    line-height: 1.6; /* Easy to read line spacing */
}

/* Blockquotes, simulating terminal output or quotes */
blockquote {
    border-left: 4px solid #0F0; /* Green color for contrast and to mimic indentation in terminals */
    padding-left: 10px;
    margin-left: 5px;
}

/* Images and other media setup */
img, video, iframe {
    max-width: 100%; /* Ensures images don't overflow the container */
    height: auto; /* Maintains aspect ratio of images */
    display: block; /* Removes default inline spacing around images */
    margin: 20px 0; /* Adds space below images for better visual separation */
}

.img-nav {
    display: inline;
    margin: 0px;
    padding: 0px;
}

/* Links setup */
a {
    color: #0F0; /* Same bright green as the text, but underlined to indicate clickable links */
    text-decoration: underline;
}

a:hover {
    color: #FFF; /* White or another light color on hover for visibility */
}

/* Custom container for better layout control */
.container {
    width: 80%; /* Fixed width similar to terminals, adjust as needed */
    margin: 0 auto; /* Centers the container horizontally */
}

/* Code blocks, simulating source code */
code {
    background-color: #222; /* Darker background for the code block */
    /* Orange color to represent typical code comments or keywords */
    /* color: #FFA500; */
    padding: 2px;
}

pre {
	display: block;
	max-width: 100%;
	background: #222;
	border: 1px dashed #666;
	padding: 0.5em;
	font-family: monospace;
	font-size: 1.5em;
	color: #fff;
	word-wrap: break-word;
	page-break-inside: avoid;
	overflow: auto;
}
