@import url("base16.monokai.dark.css");

body {
	/* Monospaced font similar to terminals */
	font-family: 'Courier New', Courier, monospace;
	background-color: #000;
	color: #0F0;
	margin: 0;
	padding: 20px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	color: #FFF;
}

p {
	/* line-height: 1.4; */
}

blockquote {
	border-left: 4px solid #0F0;
	padding-left: 10px;
	margin-left: 5px;
}

img, video, iframe {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 20px 0;
}

.img-nav {
	display: inline;
	margin: 0px;
	padding: 0px;
}

a {
	/* color: #0F0; */
	color: white;
	text-decoration: underline dotted;
}

a:hover {
	color: #0F0;
}

a.link-other {
	color: white;
	text-decoration: underline dotted;
}

a.short-linkref {
	color: white;
	text-decoration: underline dotted;
	font-size: 0.7em;
	vertical-align: super;
}

.list-tags {
	color: #0E0;
	text-decoration: none;
	font-size: 0.8em;
	/* width: 12em; */
	display: inline-block;
}

.container {
	max-width: 60%;
	margin: 0 auto;
}

/* Code blocks, simulating source code */
code {
    /* Darker background for the code block */
    /* background-color: #222; */
    /* Match monokai */
    background-color: #272822;
    /* Orange color to represent typical code comments or keywords */
    /* color: #FFA500; */
    padding: 2px;
}

pre {
	display: block;
	max-width: 100%;
	/* background: #222; */
	background: #f8f8f2;
	border: 1px dashed #666;
	padding: 0.5em;
	font-family: monospace;
	font-size: 1.5em;
	color: #fff;
	word-wrap: break-word;
	page-break-inside: avoid;
	overflow: auto;
}

table, th, td {
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
	border-spacing: 0;
	border-collapse: collapse;
}

.list-date {
	color: yellow;
	vertical-align: top;
}

ul.main-list {
	list-style-type: none;
}

ul.short-list {
	list-style-type: "@ ";
}

li.short-item {
	margin-bottom: 2em;
}

li.index-item {
	margin-bottom: 0.5em;
	vertical-align: top;
}

.index-title {
	display: inline-block;
	overflow-wrap: break-word;
	/* outline: 1px solid red; */
}

#markdown-toc::before {
	content: "Contents";
	font-style: italic;
}

#markdown-toc li {
	font-style: italic;
}

#markdown-toc {
	border-width: 1px;
	border-left-style: solid;
	border-color: #aaa;
	list-style: decimal;
	display: inline-block;
}

hr.hr-eol {
	border-top: 1px dotted;
}
