@import url("base16.monokai.dark.css");

/* General body setup */
body {
    font-family: 'Courier New', Courier, monospace; /* Monospaced font similar to terminals */
    background-color: #000; /* Dark background typical of terminal interfaces */
    color: #0F0; /* Bright green text, typical for positive feedback in terminals */
    margin: 0;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Headings setup */
h1, h2, h3 {
    color: #FFF; /* White or another bright color for contrast against the dark background */
}

/* Paragraphs and text areas setup */
p {
    line-height: 1.6; /* Easy to read line spacing */
}

/* Blockquotes, simulating terminal output or quotes */
blockquote {
    border-left: 4px solid #0F0; /* Green color for contrast and to mimic indentation in terminals */
    padding-left: 10px;
    margin-left: 5px;
}

/* Images and other media setup */
img, video, iframe {
    max-width: 100%; /* Ensures images don't overflow the container */
    height: auto; /* Maintains aspect ratio of images */
    display: block; /* Removes default inline spacing around images */
    margin: 20px 0; /* Adds space below images for better visual separation */
}

.img-nav {
    display: inline;
    margin: 0px;
    padding: 0px;
}

/* Links setup */
a {
    color: #0F0; /* Same bright green as the text, but underlined to indicate clickable links */
    text-decoration: underline;
}

a:hover {
    color: #FFF; /* White or another light color on hover for visibility */
}

a.link-other {
	color: white;
	text-decoration: underline dotted;
}

/* Custom container for better layout control */
.container {
    width: 80%; /* Fixed width similar to terminals, adjust as needed */
    margin: 0 auto; /* Centers the container horizontally */
}

/* Code blocks, simulating source code */
code {
    /* Darker background for the code block */
    /* background-color: #222; */
    /* Match monokai */
    background-color: #272822;
    /* Orange color to represent typical code comments or keywords */
    /* color: #FFA500; */
    padding: 2px;
}

pre {
	display: block;
	max-width: 100%;
	/* background: #222; */
	background: #f8f8f2;
	border: 1px dashed #666;
	padding: 0.5em;
	font-family: monospace;
	font-size: 1.5em;
	color: #fff;
	word-wrap: break-word;
	page-break-inside: avoid;
	overflow: auto;
}

table, th, td {
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
	border-spacing: 0;
	border-collapse: collapse;
}

.list-date {
	color: yellow;
}

ul.main-list {
	list-style-type: square;
}

ul.short-list {
	list-style-type: "@ ";
}

li.short-item {
	margin-bottom: 2em;
}

#markdown-toc::before {
	content: "Contents";
	font-style: italic;
}

#markdown-toc li {
	font-style: italic;
}

#markdown-toc {
	border-width: 1px;
	border-left-style: solid;
	border-color: #aaa;
	list-style: decimal;
	display: inline-block;
}

hr.hr-eol {
	border-top: 1px dotted;
}
