---
layout: navbar
navorder: 1
title: index.html
permalink: /
---

<a class="link-other" href="l/">All posts in one long page</a>

<p>
<ul class="main-list">
{% if site.host == "127.0.0.1" %}
{% assign local = true %}
{% endif %}

{% assign today = site.time | date: "%s" | plus: 0 %}
{% assign last = today %}

{% assign sortedPages = site.pages | where: 'layout', 'page' | sort: 'date' | reverse %}
{% for page in sortedPages %}
<li>
  {% assign pagets = page.date | date: "%s" | plus: 0 %}
  <!--
  {% if pagets < today and today < last %} <hr/> {% endif %}
  -->
  {% if today < pagets or local %}
  <span class="list-date">{{ page.date | date: "%Y-%m-%d" }}</span> -
    {% if page.status == "draft" %} <sup>(draft)</sup> {% endif %}
    <a href="{{ site.base_path}}{{ page.url }}">{{ page.title }}</a>
  {% endif %}
  {% assign last = pagets %}
</li>
{% endfor %}
</ul>
</p>

<!--
-->

<hr />

<h1>Research</h1>

<p>
{% assign sortedPages = site.pages | where: 'layout', 'standalone' | sort: 'date' | reverse %}
{% for page in sortedPages %}
  <a href="{{ site.base_path}}{{ page.url }}">{{ page.title }}</a> (continued) last update: {{ page.date }}
{% endfor %}
</p>

