---
layout: navbar
navorder: 1
title: index.html
permalink: /
---

<p>
<ul class="main-list">
{% if site.host == "127.0.0.1" %}
{% assign local = true %}
{% endif %}

{% assign sortedPages = site.pages | where: 'layout', 'page' | sort: 'date' | reverse %}
{% for page in sortedPages %}
<li class="index-item">
  <span class="list-date">{{ page.date | date: "%Y-%m-%d" }}</span>
    {% if page.status == "draft" %} <sup>(draft)</sup> {% endif %}
    <span class="index-title">
    <a href="{{ site.base_path}}{{ page.url }}">{{ page.title }}</a>
    </span>
    <span class="list-tags">({{ page.tags | join: ", " }})</span>
</li>
{% endfor %}
</ul>
</p>

<!--

<hr />

<h1>Research</h1>

<p>
{% assign sortedPages = site.pages | where: 'layout', 'standalone' | sort: 'date' | reverse %}
{% for page in sortedPages %}
  <a href="{{ site.base_path}}{{ page.url }}">{{ page.title }}</a> (continued) last update: {{ page.date }}
{% endfor %}
</p>

-->

<a class="link-other" href="l/">All posts in one long page</a>
