<header>
	<nav>
		{% assign sortedPages = site.pages | where: 'layout', 'navbar' | sort: 'navorder' %}
		{% for pg in sortedPages %}
		<a class="navlink" href="{{ pg.permalink | prepend: site.baseurl }}">[{% if pg.title_nav %}{{ pg.title_nav }}{% else %}{{ pg.title }}{% endif %}]</a>
		{% endfor %}
		<button id="theme-toggle">Switch theme</button>
		<script>
document.getElementById('theme-toggle').addEventListener('click', function() {
	    var currentTheme = document.getElementById('theme-style').getAttribute('href');
	    var newTheme = currentTheme === '/css/site-light.css' ? '/css/site-dark.css' : '/css/site-light.css';
	    document.getElementById('theme-style').setAttribute('href', newTheme);
});
		</script>
	</nav>
	<hr>
</header>
